@charset "UTF-8";

/*Typical Device brakpoints
----------------------------
pequenas telas: até 600px
Celulares::de 600px até 992px
Tablet: de 922 até 1200px
Grandes telas: acima de 1200
*/

@media screen and (min-width: 768px) and (max-width: 992px){
    section#login{
        width:80vw;
    }
    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
}

@media screen and (min-width: 992px) {
    section#login {
        width: 990px;
    }
}
section#login > div#imagem{
    float: left;
    width: 50%;
}

section#login > div#formulario {
    float:right;
    width: 70%;
   
}